In [ ]:
# from deltalake import write_deltalake, DeltaTable
# import pandas as pd

# df = pd.DataFrame({'teste': [1, 2, 3]})
# write_deltalake('teste', df, mode='append')
# df = pd.DataFrame({'teste': [4, 5, 6]})
# write_deltalake('teste', df, mode='append')
# DeltaTable('./teste').to_pandas()

:

In [ ]:
import sys
import time
import pandas as pd
import polars as pl
import math
sys.path.append("..")
from eidos_engine.etl.load import ETL
def process_func(d):
    time.sleep(1 if d['teste'] % 2 == 0 else 2)
    # if d['teste'] == 3:
    #     raise Exception('teste')
    return d
etl = ETL(process_func, block_errors=0.0,logfire_write_token="GpGFwNQrg23qNTfSzR1qKn9fHG57rZ3dM8dFkDJ3DrGC")

:

In [2]:
df = pl.DataFrame({'teste': list(range(10))})
etl.process_in_threads(df, batch_size = 10, num_threads=2)

2025-02-11T17:03:22.410156-03:00 - INFO - Starting, Process_id: eidos-engine@2025-02-11T17:03:22.409760-03:00
20:03:22.410 2025-02-11T17:03:22.410385-03:00 - INFO - eidos-engine@2025-02-11T17:03:22.409760-03:00 - Starting, Process_id: eidos-engine@2025-02-11T17:03:22.409760-03:00
2025-02-11T17:03:22.411162-03:00 - INFO - Loading data
20:03:22.411 2025-02-11T17:03:22.411224-03:00 - INFO - eidos-engine@2025-02-11T17:03:22.409760-03:00 - Loading data
2025-02-11T17:03:22.411395-03:00 - INFO - Loaded data in 0.00 seconds
20:03:22.411 2025-02-11T17:03:22.411446-03:00 - INFO - eidos-engine@2025-02-11T17:03:22.409760-03:00 - Loaded data in 0.00 seconds
2025-02-11T17:03:22.411613-03:00 - INFO - Processing
20:03:22.411 2025-02-11T17:03:22.411667-03:00 - INFO - eidos-engine@2025-02-11T17:03:22.409760-03:00 - Processing

Processing Batches:   0%|          | 0/1 [00:00<?, ?it/s]

2025-02-11T17:03:22.413658-03:00 - INFO - Batch 0 -> 10
20:03:22.414 2025-02-11T17:03:22.414019-03:00 - INFO - eidos-engine@2025-02-11T17:03:22.409760-03:00 - Batch 0 -> 10

Processing Batches: 100%|██████████| 1/1 [00:08<00:00,  8.02s/it]

2025-02-11T17:03:30.427902-03:00 - INFO - Batch 0 -> 10, 0 errors, Finished @8.01s
20:03:30.428 2025-02-11T17:03:30.428184-03:00 - INFO - eidos-engine@2025-02-11T17:03:22.409760-03:00 - Batch 0 -> 10, 0 errors, Finished @8.01s
2025-02-11T17:03:30.429189-03:00 - INFO - Processing Finished @8.02s
20:03:30.429 2025-02-11T17:03:30.429445-03:00 - INFO - eidos-engine@2025-02-11T17:03:22.409760-03:00 - Processing Finished @8.02s

In [5]:
etl.get_results('2025-02-11T16:14:22.787158-03:00','pandas')

   teste  etl#delay  etl#status  etl#teste
0      0   1.001059           1          0
1      1   2.001766           1          1
2      2   1.000857           1          2
3      3   2.002078           1          3
4      4   1.001020           1          4
5      5   2.002020           1          5
6      6   1.000540           1          6
7      7   2.001878           1          7
8      8   1.000972           1          8
9      9   2.002088           1          9

In [10]:
batch_size = 10
num_threads = 2
for i in range(0, df.height, batch_size):
    batch = df.slice(i, batch_size)
    _num_threads = batch.height if num_threads > batch.height else num_threads
    num = math.ceil(batch.height / _num_threads)
    for i in range(_num_threads):
        print(batch.slice(i * num, num))
    break

shape: (5, 1)
┌───────┐
│ teste │
│ ---   │
│ i64   │
╞═══════╡
│ 0     │
│ 1     │
│ 2     │
│ 3     │
│ 4     │
└───────┘
shape: (5, 1)
┌───────┐
│ teste │
│ ---   │
│ i64   │
╞═══════╡
│ 5     │
│ 6     │
│ 7     │
│ 8     │
│ 9     │
└───────┘

In [ ]:
# from deltalake import write_deltalake, DeltaTable
# import pandas as pd

# df = pd.DataFrame({'teste': [1, 2, 3]})
# write_deltalake('teste', df, mode='append')
# df = pd.DataFrame({'teste': [4, 5, 6]})
# write_deltalake('teste', df, mode='append')
# DeltaTable('./teste').to_pandas()