In [2]:
import time
import polars as pl
import sys
sys.path.append('..')
from eidos_engine.etl.load import ETL
def process_func(d):
    time.sleep(1 if d['teste'] % 2 == 0 else 2)
    return {'aaa':1}
etl = ETL(process_func, block_errors=0.0,logfire_write_token=None,disable_logs=True)
df = pl.DataFrame({'teste': list(range(2))})
process_id = etl.process_in_threads(df, batch_size = 10, num_threads=2)
etl.get_results(process_id,'pandas')

2025-02-11T19:01:53.681535-03:00 - INFO - Starting, Process_id: eidos-engine@2025-02-11T19:01:53.681253-03:00
2025-02-11T19:01:53.681631-03:00 - INFO - Loading data
2025-02-11T19:01:53.681651-03:00 - INFO - Loaded data in 0.00 min
2025-02-11T19:01:53.681680-03:00 - INFO - Processing

Processing Batches: 0it [00:00, ?it/s]

2025-02-11T19:01:53.682629-03:00 - INFO - Batch 0 -> 10

Processing Batches: 1it [00:02,  2.01s/it]

2025-02-11T19:01:55.687317-03:00 - INFO - Batch 0 -> 10, 0 errors, Finished @0.03 min
2025-02-11T19:01:55.687390-03:00 - INFO - Estimated finish time: 0.00 min, Throughput: 1.00 it/s
2025-02-11T19:01:55.688182-03:00 - INFO - Processing Finished @0.03 min

   teste  etl#delay  etl#status  etl#aaa
0      0   1.000582           1        1
1      1   2.001415           1        1